.navbar {
    height: 10vh;
}
.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: rgb(246, 34, 186);
    font-weight: 500px;
}

.btn {
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 0;
    transition: all ease-in-out .3s;
}

.btn-brand {
    background-color: blue;
    color: #FFF;

}

.btn-brand:hover {

    border: 2px solid #304438;
    color: #304438;
    
}

.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(13, 35, 232);

}

#banner {
    background: url('huwaw.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: rgb(7, 7, 6);

 }

 #banner p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(10, 10, 10);
    ;
 }
 .card-img-top{
    width: 35% !important;

 }

.card{
 padding: 25px 20px;
 border:  3px solid #304438;
 transition: all ease-in .4s;

 }
 .card:hover{
    box-shadow: 0 0 45px 0 rgba(red, green, blue, alpha);
    transform: scale(1.1);
    background-color: rgb(212, 242, 17);
    border-color:#FFF;
 }
 .card:hover .card-title, 
 .card:hover .card-text{
 color: #FFF;
 }

 section{
    padding: 100px 0;
 }
 #sugpon h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    color: rgb(25, 24, 24);
    margin-bottom: 30px;
    text-align: center;
 }

 #about img{
    border: 5px solid white;
 }

 #about .btn-brand{
    background-color: white;
    color: rgb(175, 135, 17);
 }
 
 #about h2{
    color: white;
    font-size: 55px;
 }
 .wew{
    width: 65px;

 }
 .testimonials{
    border: 3px solid violet;
    padding: 20px;
    margin-top: 20px;
    transition: all ease .4s;
    background-color: beige;
 }
.testimonials:hover{
    transform: scale(1.1)
}


 #reviews h2{
    font-size: 55px;
 }
 
 #faq{
   background-color: rgb(0, 0, 0);
   color:#FFF;
 }
 
 
 .faq-section{
   max-width: 800px;
   margin:auto;
 }

 .accordion-item {
   margin-bottom: 20px;
   border-radius: 0 !important;
 }
 
 acorrdion-button {
   background-color: hotpink;
   border: none;
   border-bottom: 1px solid hotpink;
   border-radius: 0 !important;
   padding: 15px;
   font-size: 18px;
   font-weight: 500;
   color:#304438;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
 }
 .accordion-body{
   border-left: 3px solid orangered;
   padding: 10px 15px;
   margin-left: 0;
   background-color: #FFF;

 }
 .accordion-button:not(.collapsed){
background-color: darkgoldenrod;
color:#FFF;

 }
 .accordion-button:hover{
   background-color: burlywood;
   color: #FFF;
 }
 .accordion-body{
   border-left: 3px solid orange;
   padding: 10px 15px;
   margin-left: 0;
   background-color: #FFF;
 }
 .accordion-button:not(.collapsed){
   background-color: chocolate;
   color: #FFF;

 }
 .accordion-button:hover{
   background-color: antiquewhite;
   color:#FFF;

 }
 footer{
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: rgb(22, 22,22);
 }
 #footer ul.list-unstyled li a{
   color:#FFF;
   text-decoration: none;

 }
 #footer ul.list-unstyled li:hover a{
   color: burlywood;

 }
 #footer button{
   border-radius: 1px;
 }
 @media screen and ( max-width: 768px){
.navbar{
   height: auto;
}
#banner h1{
   font-size: 40px !important;

}
#sugpon h2{
   font-size: 40px !important;

}
 #sugpon .col {
   display: flex;
   align-items:center;
   justify-content: center;

 }
   section{
      padding: 60px 20px !important;
   }
 #footer{
   padding: 60px 20px !important;
 }
 #about img{
   height: 410px;
   width: 250px !important;
   margin: 0 auto;
   object-fit: cover;

 }
 #about h2{
   font-size: 40px !important;
 }
}